$spacer: 1rem !default;
$spacers: () !default;
$spacers: map-merge((
	0: 0,
	1: ($spacer * .25),    //4px
	2: ($spacer * .5),     //8px
	3: $spacer,            //16px
	4: ($spacer * 1.5),    //24px
	5: ($spacer * 3),      //48px
	6: ($spacer * 4),      //64px
	7: ($spacer * 5),      //80px
	8: ($spacer * 6.25),   //100px
	9: ($spacer * 7.5),    //120px
	10: ($spacer * 9.375)  //150px
), $spacers);

@import "~bootstrap";

.form-control {
	height: 50px;
	border-radius: 0;
}

.card {
	border-radius: 0;
}

label {
	//font-weight: 700;
}

.btn {
	border-radius: 0;
	height: 50px;
}

.chat {
	form {
		margin-top: 2em;
	}
	.messages {
		max-height: 400px;
		overflow: auto;
	}
}

.members {
	.status {
		width: 12px;
		height: 12px;
		min-width: 12px;
		min-height: 12px;
		border-radius: 50%;

		&.active {
			background-color: $success;
		}
		&.inactive {
			background-color: $danger;
		}
	}
}

.channels {
	ul {
		li {
			cursor: pointer;
			transition: all 300ms ease-in-out;
			border-radius: 0;
			&:hover, &.active {
				background-color: $primary;
				color: $white;
				border-radius: 0;

			}
		}
	}
}